<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о проектах</title>
    <strong><a href="{% url 'create-project' %}">Добавить проект</a></strong>
</head>
<body>
{% for project in projects %}
<p>Номер проекта: #{{ project.id }}</p>
<h2>Описание проекта <a href="{% url 'project' project.id %}">{{ project.title }}</a></h2>
<h3><a href="{% url 'update-project' project.id %}">Редактирование проекта</a></h3>
<h4><a href="{% url 'delete-project' project.id %}">Удалить проект</a></h4>
<em>{{ project.description }}</em>
{% endfor %}
</body>
</html>